<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="keywords" content="Bootstrap, SASS, SCSS, 和牛, 燒肉">
<meta property="description" content="六角學院 Bootstrap 課程最終作業，使用 Bootstrap 結合 SCSS 製作完成">
<!-- Facebook -->
<meta property="og:title" content="島津燒肉 Shimazu | 頂級和牛燒肉第一品牌">
<meta property="og:description" content="島津燒肉，為您獻上最上等的燒肉及食材。">
<meta property="og:locale" content="zh_tw">
<meta property="og:type" content="website">
<meta property="og:url" content="https://gretema.github.io/Shimazu/">
<meta property="og:image" content="https://upload.cc/i1/2019/10/24/K0mXOJ.jpg">
<!-- logo -->
<link rel="icon" href="images/logo_meat_metaicon.png" type="image/x-icon">
<title>島津燒肉 Shimazu | 頂級和牛燒肉第一品牌</title>
<link rel="stylesheet" href="stylesheets/all.css">
<script src="https://kit.fontawesome.com/11dc26bb6c.js" crossorigin="anonymous"></script>